h1{
    color:rgb(0, 174, 255);
}
.menu{
    text-align:center;
    border:1px solid rgb(0, 153, 255);
    width: 500px;
    font-family: arial;

    position: relative;
    top: 50px;
    left:100px;
    color:rgb(70, 69, 69);
    outline: none;
    /* Setup */
    position: relative;
}
hr{
    width:80%;
    color:black;
    

}
.menu_text{
    position: relative;
    bottom:70px;
}
h1{
    border-radius: 20px;
    
    width:102%;
    position: relative;
    bottom: 80px;
    right:16px;
    border: 1px  solid rgb(0, 0, 0);
    padding:10px;
    background-color: rgba(105, 105, 105, 0.24);
}